.shortcut {
  font-family: open_sansregular;
  font-size: rem(16px);
}

.key {
  border-radius: 4px;
  border-width: rem(1px) rem(2px) rem(3px);
  border-style: solid;
  display: inline-block;
  padding: rem(2px) rem(6px);
}