.page-preview {
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 795px;
  margin: 50px auto;
  padding: 27px;
  transition: all 400ms ease-in-out;
  width: 562px;
}

.page-preview.page-preview--portrait {
  height: 795px;
  width: 562px;
}

.page-preview.page-preview--landscape {
  height: 562px;
  width: 795px;
}

.page-preview__content {
  height: 100%;
  overflow: hidden;
}

.page-preview iframe {
  background-color: #fff;
  height: 100%;
  width: 100%;
}