.table {
  border-collapse: collapse;
  border-width: 0;
  font-size: rem(16px);
  width: 100%;
}

.table caption {
  font-family: source_code_pro_black;
  font-weight: normal;
}

.table.table--bordered {
  border-width: 1px;
  border-style: solid;
}

.table--zebra > tr:nth-of-type(odd),
.table--zebra tbody tr:nth-of-type(odd) {
  background-color: #e7e7e7;
}

.table.table--bordered th,
.table.table--bordered td {
  border-width: 1px;
  border-style: solid;
}

.table th {
  font-family: open_sansbold;
  font-weight: normal;
}

.table td {
  font-family: open_sansregular;
}
