.table {
  border-collapse: collapse;
  border-width: 0;
  width: 100%;
}

.table.table--bordered {
  border-width: 1px;
  border-style: solid;
}

.table--zebra > tr:nth-child(odd),
.table--zebra tbody tr:nth-child(odd) {
  background-color: #e7e7e7;
}

.table.table--bordered th,
.table.table--bordered td {
  border-width: rem(1px);
  border-style: solid;
}

.table th {
  font-family: open_sansbold;
  font-weight: normal;
}
