@font-face {
  font-family: 'noto_mono_regular';
  src: url('../fonts/noto_mono_regular/NotoMono-Regular-webfont.eot');
  src: url('../fonts/noto_mono_regular/NotoMono-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/noto_mono_regular/NotoMono-Regular-webfont.woff') format('woff'),
        url('../fonts/noto_mono_regular/NotoMono-Regular-webfont.ttf') format('truetype'),
        url('../fonts/noto_mono_regular/NotoMono-Regular-webfont.svg#noto_monoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
