:root {
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  --color-material-red: #f44336;
  --color-material-pink: #E91E63;
  --color-material-purple: #9C27B0;
  --color-material-deep-purple: #673AB7;
  --color-material-indigo: #3F51B5;
  --color-material-blue: #2196F3;
  --color-material-light-blue: #03A9F4;
  --color-material-cyan: #00BCD4;
  --color-material-teal: #009688;
  --color-material-green: #4CAF50;
  --color-material-light-green: #8BC34A;
  --color-material-lime: #CDDC39;
  --color-material-yellow: #FFEB3B;
  --color-material-amber: #FFC107;
  --color-material-orange: #FF9800;
  --color-material-deep-orange: #FF5722;
  --color-material-brown: #795548;
  --color-material-grey: #9E9E9E;
  --color-material-blue-grey: #607D8B;
}
