<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>
<body>
  <div class="page" id="page">
    {{ content | safe }}
  </div>
<script>
window.__cheatsheetMetadata__ = {
  title: '{{ title }}',
  description: '{{ description }}',
  orientation: '{{ orientation }}',
};

document.addEventListener('DOMContentLoaded', function() {
  if (parent.__setCheatsheetPreview__) {
    document.getElementById('page').classList.add('page--preview');
    parent.__setCheatsheetPreview__(window.__cheatsheetMetadata__);
  }
});
</script>
</body>
</html>