---
layout: cheatsheet
title: Tmux Cheatsheet
tags: cheatsheet
orientation: portrait
---
{% from 'macros.njk' import key %}

{% row %}
  {% col %}
    <p>tmux cheatsheet</p>
    {% key 'Ctrl+B,D' %}
  {% endcol %}
{% endrow %}