<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="../../assets/styles/cheatsheets.css">
  {% if customCss %}
    <link rel="stylesheet" href="{{customCss}}">
  {% endif %}
</head>
<body>
  <div class="page" id="page">
    {{ content | safe }}
  </div>
  <script>
  window.__cheatsheetMetadata__ = {
    title: '{{ title }}',
    description: '{{ description }}',
    orientation: '{{ orientation }}',
    scale: '{{ scale }}'
  };

  document.addEventListener('DOMContentLoaded', function() {
    if (parent.__setCheatsheetPreview__) {
      var md = window.__cheatsheetMetadata__;
      // preview zoom:
      var zoom = 71;
      var actualZoom = md.scale !== '' ? zoom * parseFloat(md.scale, 10) : zoom;

      document.getElementsByTagName('html')[0].style.fontSize = actualZoom + '%';
      parent.__setCheatsheetPreview__(md);
    }
  });
  </script>
</body>
</html>