---
permalink: buildparams.json
---
[
{%- for item in collections.cheatsheet -%}
{
  "slug": "{{item.fileSlug}}",
  "orientation": "{{item.data.orientation}}"
}{% if not loop.last %},{% endif %}
{%- endfor -%}
]