---
layout: default
---
<div>
  <pre id="cheatsheet-info"></pre>
</div>
<a download id="pdf-download">pdf</a>
<div class="page-preview">
  <div class="page-preview__content">
    <iframe frameborder="0" id="preview-frame"></iframe>
  </div>
</div>
<script>
window.__setCheatsheetPreview__ = function(data) {
  document.getElementById('cheatsheet-info').innerHTML = JSON.stringify(data);
};

document.addEventListener('DOMContentLoaded', function() {
  var iframe = document.getElementById('preview-frame');
  var matches = /page=([a-zA-Z0-9_\-]+)/.exec(document.location.href);
  var slug;

  if (matches !== null){
    slug = matches[1];
    iframe.src = '/cheatsheets/' + slug;

    document.getElementById('pdf-download').href = '../pdf/' + slug + '.pdf';
  }
});
</script>