---
layout: cheatsheet
title: Tmux Cheatsheet
tags: cheatsheet
description: Tmux description
orientation: landscape
customCss: tmux.css
---
{% row %}
  {% col 4 %}

    <section class="section section--shaded section--rounded">
      <h2 class="section__header">Section</h2>
      <div class="section__body">
        {% key 'Ctrl+B,D' %}
        {% table 'bordered', 'zebra' %}
          {% tcaption 'Demo table' %}
          {% thead 'lorem', 'ipsum', 'dolor' %}
          {% tr '111', '222', '333' %}
          {% tr '444', '555', '666' %}
          {% tr '777', '888', '999' %}
          {% tfoot 'lorem', 'ipsum', 'dolor' %}
        {% endtable %}
      </div>
    </section>

    {% key 'Ctrl+B,D' %}

    {% table 'bordered', 'zebra' %}
      {% tcaption 'Demo table' %}
      {% thead 'lorem', 'ipsum', 'dolor' %}
      {% tr '111', '222', '333' %}
      {% tr '444', '555', '666' %}
      {% tr '777', '888', '999' %}
      {% tfoot 'lorem', 'ipsum', 'dolor' %}
    {% endtable %}

  {% endcol %}
  {% col 4 %}
    <section class="section section--shaded section--rounded">
      <h2 class="section__header">Section</h2>
      <div class="section__body">
        {% key 'Ctrl+B,D' %}
        {% table 'bordered', 'zebra' %}
          {% tcaption 'Demo table' %}
          {% thead 'lorem', 'ipsum', 'dolor' %}
          {% tr '111', '222', '333' %}
          {% tr '444', '555', '666' %}
          {% tr '777', '888', '999' %}
          {% tfoot 'lorem', 'ipsum', 'dolor' %}
        {% endtable %}
      </div>
    </section>
    {% key 'Ctrl+B,D' %}
  {% endcol %}
  {% col 4 %}
    <section class="section section--shaded section--rounded">
      <h2 class="section__header">Section</h2>
      <div class="section__body">
        {% key 'Ctrl+B,D' %}
        {% table 'bordered', 'zebra' %}
          {% tcaption 'Demo table' %}
          {% thead 'lorem', 'ipsum', 'dolor' %}
          {% tr '111', '222', '333' %}
          {% tr '444', '555', '666' %}
          {% tr '777', '888', '999' %}
          {% tfoot 'lorem', 'ipsum', 'dolor' %}
        {% endtable %}
        <code>
          if (a === b) {
            console.log('foo');
          }
        </code>
      </div>
    </section>
    {% key 'Ctrl+B,D' %}
  {% endcol %}
{% endrow %}
