---
layout: cheatsheet
title: Tmux Cheatsheet
tags: cheatsheet
description: Tmux description
orientation: landscape
customCss: tmux.css
---
{% row %}
  {% col 4 %}
    {% key 'Ctrl+B,D' %}
  {% endcol %}
  {% col 4 %}
    {% key 'Ctrl+B,D' %}
  {% endcol %}
  {% col 4 %}
    {% key 'Ctrl+B,D' %}
  {% endcol %}
{% endrow %}

{# 
{% table %}
  {% thead 'lorem', 'ipsum', 'dolor' %}
  {% tr 'aaa', 'ahsfg hasg fjhasg jkh f', 'ajksfhkag fkajsgh' %}
{% endtable %}
 #}