---
layout: cheatsheet
title: Tmux Cheatsheet
tags: cheatsheet
description: Tmux description
orientation: landscape
customCss: tmux.css
---
{% row %}
  {% col %}
    <p>tmux cheatsheet</p>
    {% key 'Ctrl+B,D' %}
    <div>Lorem i</div>
    <div class="test">Lorem ipsum dolor sit -> asfasfasfsaf</div>
    <div class="test2">Lorem ipsum dolor sit -> asfasfasfsaf</div>
    <div class="test3">Lorem ipsum dolor sit -> asfasfasfsaf</div>
    <div class="test4">Lorem ipsum dolor sit -> asfasfasfsaf</div>
  {% endcol %}
{% endrow %}