.page {
  color: red;
}

.test {
  font-family: 'noto_mono_regular';
  line-height: 1.2;
}

.test:after {
  content: ' (noto_mono_regular)';
}

.test2 {
  color: blue;
  font-family: 'Fira Code';
  line-height: 3;
}

.test2:after {
  content: ' (Fira Code)';
}

.test3 {
  color: green;
  font-family: 'FiraCodeTTF';
  line-height: 3;
}

.test3:after {
  content: ' (FiraCodeTTF)';
}

.test4 {
  color: magenta;
  font-family: 'fira_codebold';
  line-height: 3;
}

.test4:after {
  content: ' (fira_codebold)';
}